<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Classifying cats and dogs">
  <meta name="author" content="Pavel Motloch">
  <title>upload image</title>
  {# Load the tag library #}
  {% load django_bootstrap5 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}
</head>

<body>
<p><h1>Upload an image to check if it is a cat or dog!</h1></p>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {#{{ form.as_p }}#}
  <div style="width:30%;" align="center">
  {% bootstrap_form form %}

  {# <button type="submit">Upload</button> #}
  {% bootstrap_button button_type="submit" content="Upload" %}
  </div>
</form>

{% if img_obj %}
  <img src="data:image/jpeg;base64,{{ img_obj }}" width=20%>
  <p>{{desc}}</p>
{% endif %}

</body>

</html>
